@font-face {
    font-family: 'Kanit';
    src: url('fonts/Kanit-LightItalic.ttf')
}

body {
font-family: 'kanit', sans-serif;
margin: 0;
padding: 0;
background-color: #ff0101;
}

header {
background-color: #ff0000;
color: white;
padding: 10px 20px;
text-align: center;
}

.container {
width: 80%;
margin: 20px auto;
background-color: white;
padding: 20px;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
color: #ffffff;
}

p {
color: #555;
}

footer {
background-color: #000000;
color: white;
text-align: center;
padding: 2px 0;
position: static;
bottom: 0;
width: 100%;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    padding-top: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}

.sidebar ul li a:hover {
    color: lightgray;
}

.content {
    margin-left: 250px;
    padding: 20px;
}

/* Para hacer la página responsive */
@media (max-width: 768px) {
    .sidebar {
    width: 30%;
    position: static;
    }

    .content {
    margin-left: 0;
    }
}

.collapsed {
    width: 40px;
}

.collapsed ul li {
    padding: 10px 5px;
}

.collapsed .toggle-btn {
    display: block;
    margin: 10px auto;
}
.collapsed ul li a {
    display: none;
}

.collapsed ul li a:hover {
    display: block;
    color: lightgray;
    text-decoration: none;
}

/* Estilos para el formulario usando una clase */
.formulario {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto; /* Esto centrará el formulario */
    width: 60%; /* Ajusta el ancho según tus necesidades */
  }
  
  .formulario form {
    display: flex;
    flex-direction: column;
  }
  
  .formulario label {
    margin-bottom: 8px;
    color: #333;
  }
  
  .formulario input[type="text"],
  .formulario textarea {
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  .formulario input[type="submit"] {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .formulario input[type="submit"]:hover {
    background-color: #555;
  }

  .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}